#control{
    background-color: rgb(244, 250, 233);
    background-repeat: no-repeat;
    background-size:cover;
    width:15%;
    left:100px;
    top:100px;
    height:600px;
    position: absolute;
    border-style: ridge;
}
#next{
    background-image:url("./next.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#back{
    background-image:url("./backward.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#rectangle{
    background-image:url("./rectangle.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#penwidth{
    position: absolute;
    left:550px;
    top:50px;
}
#triangle{
    background-image:url("./triangle.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#buttonpart{
    margin :5px;
    width :15%;
    height:100px;
    position: absolute;
    left:100px;
    top:100px;
    border-style: ridge;
}
#controlpart{
    background-color:white;
    border-style: ridge;
    left:350px;
    top: 20px;
    position: absolute;
    margin:5px;
    width:50px;
    height:50px;
}
#text{
    background-image:url("./text.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#eraser{
    background-image:url("./eraser.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#download{
    background-image:url("./download.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#upload{
    background-image:url("./upload.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#size{
    position: absolute;
    left: 90px;
    top: 20px;
}
#pen{
    background-image:url("./pen.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#line{
    background-image:url("./line.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
#reset{
    background-image:url("./reset.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
#circle{
    background-image:url("./circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#font {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    position: absolute;
    left:25px;
    top:25px;
}
.drop_down_content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop_down_content a:hover {background-color: #ddd;}

.dropdown:hover .drop_down_content {display: block;}

.dropdown:hover .font {background-color: #3e8e41;}

.drop_down_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#mycanvas{
    border-top: 8px;
    border-bottom: 8px;
    border-left: 8px;
    border-right:8px;
    border-style: ridge;
    background-color: #e5e5e5;
    position: absolute;
    left :500px;
    top : 100px;
    z-index: 0;
}
.row{
    height: 10%;
}
body{
    background-color: rgb(155, 155, 211);
   /* background-image: url('./canvas.png');*/
}

.btn {
    height:50%;
	box-shadow: 3px 2px 21px 4px #4122f2;
	background:linear-gradient(to bottom, #7f57d4 5%, #38a0f0 100%);
	background-color:#7f57d4;
	border-radius:31px;
	border:2px solid #31e0bd;
	display:inline-block;
	cursor:pointer;
	color:#638bcf;
	font-family:Arial;
	font-size:17px;
	padding:21px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.btn:hover {
	background:linear-gradient(to bottom, #38a0f0 5%, #7f57d4 100%);
	background-color:#38a0f0;
}
.btn:active {
	position:relative;
	top:1px;
}